// Variable Overrides


//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

.fa{
    padding: 5px;
}

.jumbotron{
    border: 0.5px solid black;
    height: 400px;
    img{
        width: 400px;
        padding: none;

    }
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 15px;
    padding-top: 20px;
}

nav{
    border: 0.5px solid gainsboro;
}

#menu{
    text-align: center;
}

#carousel{
    width: 600px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding: 10px;
    border: 0.5px solid black;
    background-color: gainsboro;

}

#logo{
    max-width: 100%;
    width: 800px;
    padding-top: 10px;
    

}