// Variable Overrides


//Bootstrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";

.fa{
    padding: 5px;
}

.jumbotron{
    border: 0.5px solid black;
    img{
        width: 370px;
        
        
    }
}
